.add-todo-button{
  margin-bottom: 16px;
}

.todo-form-outer{
  display: flex;
  justify-content: center;
}
.todo-form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 16px 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
  }

  .form-title {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
  }

  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .text-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    height: 20px; /* Fixed height for error message */
    display: block; /* Ensure it takes up space even when empty */
    line-height: 20px; /* Vertically center the text */
  }
  
  .create-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }