.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 50px auto;
    width: 300px;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 15px;
    height: 60px; /* Fixed height to accommodate input and error message */
  }
  
  .login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    height: 20px; /* Fixed height for error message */
    display: block; /* Ensure it takes up space even when empty */
    line-height: 20px; /* Vertically center the text */
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .toggle-button{
    text-decoration: underline;
    font-size: 12px;
    margin-bottom: 12px;
    color: #808080;
  }